cn = "deb12"
organization = "test organization"
serial = 1
expiration_days = 3650
signing_key
encryption_key
tls_www_server
dns_name = "deb12"
#ip_address = "if no hostname uncomment and set the IP address here"
uid = "test_user"
